annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
fastapi
h11
idna
pydantic
pydantic_core
requests
sniffio
soupsieve
starlette
typing_extensions
urllib3
uvicorn
praw
openai
python-dotenv
pandas
seaborn